@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-4">Bienvenid@@</h1>

@if (TempData.Peek("OkMsg") != null)
{
    <span class="text-danger">@TempData["OkMsg"]</span>
}
@if (TempData.Peek("error") != null)
{
    <span class="text-danger">@TempData["error"]</span>
}
<div style="width:90%;">
    <p>Este es un proyecto para el trabajo practico</p>
    <p>Pongame 10 profe</p>
</div>