<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="/assets/openId.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous" />
    <script src="https://saleck3.github.io/RickRollJS/WheneverYouNeedSomebody.js"></script>
</head>

<body class="bg-info">

    @{
        var rol = ViewBag.rol as string;
    }

    @switch (rol)
    {
        //Esto es un code smell? Probablemente
        //Tendriamos que ver como resolverlo de una manera SOLID? probablemente
        //Se me ocurre como ahora? Pues no mi ciela
        case "admin":
            <text><partial name="/Views/Shared/_menuAdministrador.cshtml"></partial></text>
            break;
        default:
            <text><partial name="/Views/Shared/_menuUsuario.cshtml"></partial></text>
            break;
    }

    @RenderBody()

    <footer class="border-top footer text-muted bg-light">
        <div class="container">
            &copy; 2023 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
